# ----------------------
# -- Package Metadata --
# ----------------------
include AUTHORS
include LICENSE
include VERSION
include requirements.txt

# -------------------
# -- Documentation --
# -------------------
recursive-include docs *
